@value makerGreen,makerWhite,makerBlack from '../../common/color.css';

.footer{
    width: 100%;
    background-color: makerGreen;
    text-align: center;
    padding: 1px;
}

.title{
    color: makerWhite;
    font-size: 24px;
}
