body{
  width: 100%;
  text-align: center;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.habit-container {
  font-size: 2.5rem;
  padding: 2rem;
  list-style: none;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 1rem 0.6rem 0 0.4rem;
  background-color: darkseagreen;
  border-radius: 50%;
  color: white;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.4rem;
  background-color: transparent;
}

.habit-button:hover{
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: goldenrod
}

.habit-delete {
  font-size: 2rem;
  color: darkred;
}

.navbar-container {
  font-size: 2rem;
  padding: 1rem;
  background-color: blanchedalmond;
}

.navbar-logo {
  color: green;
  margin-right: 0.5rem;
}

.navbar-count {
  display: inline-block;
  text-align: center;
  /* font-size: 2rem; */
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 1rem 0.6rem 0 0.4rem;
  background-color: green;
  color: white;
  border-radius: 50%;
}

.add-form{
  padding: 2rem 4.2rem;
}

.add-input{
  font-size: 2rem;
}

.add-input{
  margin-right: 0.2rem;
}

.add-button{
  height: 100%;
  font-size: 2rem;
  background-color: green;
  color: #fff;
}

.reset-btn {
  font-size: 1.5rem;
  padding: 0.6rem 0.8rem;
  background-color: green;
  color: #fff;
}